workflow/CVE Data Collection.json
{
  "name": "CVE Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3849884f-1011-40a3-adf6-5c41f8e2e62b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "resultsPerPage",
              "value": "1000"
            },
            {
              "name": "pubStartDate",
              "value": "={{ $json.last_date }}"
            },
            {
              "name": "pubEndDate",
              "value": "={{ $now.endOf('day').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSS\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "56e26fbe-8167-4363-9f6e-732188236e67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const vulnerabilities = item.json.vulnerabilities || [];\n  \n  for (const vuln of vulnerabilities) {\n    const cve = vuln.cve;\n    let severity = 'UNKNOWN';\n    let cvssScore = null;\n    \n    if (cve.metrics?.cvssMetricV31?.[0]) {\n      const metric = cve.metrics.cvssMetricV31[0];\n      severity = metric.cvssData.baseSeverity || 'UNKNOWN';\n      cvssScore = metric.cvssData.baseScore;\n    }\n    \n    // Extract description\n    const description = cve.descriptions?.find(d => d.lang === 'en')?.value || '';\n    \n    // Extract vendor and product\n    let vendor = null;\n    let product = null;\n    \n    if (cve.configurations?.[0]?.nodes?.[0]?.cpeMatch?.[0]) {\n      const cpe = cve.configurations[0].nodes[0].cpeMatch[0].criteria;\n      const cpeParts = cpe.split(':');\n      if (cpeParts.length >= 5) {\n        vendor = cpeParts[3];\n        product = cpeParts[4];\n      }\n    }\n    \n    items.push({\n      json: {\n        cve_id: cve.id,\n        description: description.substring(0, 1000),\n        severity: severity,\n        cvss_score: cvssScore,\n        published_date: cve.published,\n        modified_date: cve.lastModified,\n        vendor: vendor,\n        product: product,\n        references: cve.references || []\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "07a5ee6d-aef0-4e78-93f9-ab2d2f5fdbfb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "cves"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cvss_score": "={{ $json.cvss_score }}",
            "cve_id": "={{ $json.cve_id }}",
            "description": "={{ $json.description }}",
            "severity": "={{ $json.severity }}",
            "published_date": "={{ $json.published_date }}",
            "modified_date": "={{ $json.modified_date }}",
            "vendor": "={{ $json.vendor }}",
            "product": "={{ $json.vendor }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cve_id",
              "displayName": "cve_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cvss_score",
              "displayName": "cvss_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modified_date",
              "displayName": "modified_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "references",
              "displayName": "references",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        0
      ],
      "id": "bc52fa56-cfba-435b-977c-046f69a8ce2a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "j8oobd041RKsjaVh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(published_date), NOW() - INTERVAL '100 days') as last_date FROM cves",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "4a20016b-f1ab-45ca-9241-4976aa292b7a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "j8oobd041RKsjaVh",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b31b0173-58ca-47e0-9455-81534e36cd20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3c7ab43e2e4007168874c1b8813a0a6eabf67bbe566e1e6609e2c1141a75864"
  },
  "id": "vadn5xPUunQepmll",
  "tags": []
}